body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.inactive {
  display: none;
}

.donut {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(151, 159, 208, 0.3);
  border-top-color: #979fd0;
  animation: 1.5s spin infinite linear;
}

.donut-container {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }

