<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>PastPath</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- lovingly handcrafted vanilla js for form validation -->
    <script type="text/javascript">
    function validateForm() {
        console.log("running validateForm()");
        var radius = document.forms["chooseStart"]["radius"].value;
        if (radius == "") {
            alert("Maximum distance must be provided");
            return false;
        }
        var radios = document.forms["chooseStart"].elements["start_marker"];
        //console.log(checkboxes);
        var numChecked = 0;
        for (var i=0, len=radios.length; i<len; i++) {
            numChecked = numChecked + radios[i].checked;
        }
        console.log("numChecked:");
        console.log(numChecked);
        if (numChecked<1) {
            alert("Starting marker must be selected");
            return false;
        }
    } 
    </script>

    <!-- leaflet -->
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/input_loc">PastPath</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/input_loc">Start <span class="sr-only">(current)</span></a>
          </li>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h2>Step Two</h2>
        <p class="lead"><a href="/input_loc">Start over</a></p>
      </div>


      <div class="container">
          <div class="starter-template">
              <h3>Choose a starting point:</h3>
              <p class="lead">Here are some nearby markers we think you'll
              like based on your interests. Which one is most interesting to
              you? Your route will include similar markers.</p>
          </div>
    </div>

<div id="map" style="height: 400px;"></div>
<script type="text/javascript">
  // The first parameter are the coordinates of the center of the map
  // The second parameter is the zoom level
    var map = L.map('map').setView({{ map_center }}, 14);
  
  // {s}, {z}, {x} and {y} are placeholders for map tiles
  // {x} and {y} are the x/y of where you are on the map
  // {z} is the zoom level
  // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
  });
  
  // add markers
var allMarkers = L.featureGroup();
            {% for marker in markers.itertuples() %}
var marker = L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
    .bindPopup("{{ marker['title'] }}");
marker.addTo(allMarkers);
            {% endfor %}

map.fitBounds(allMarkers.getBounds());
  // Now add the layer onto the map
  map.addLayer(layer);
</script>

      <div class="container">
        <form name="chooseStart" action="output" onsubmit="return validateForm()" method="GET">

        <table class="table table-hover">
            <tr>
                <th></th>
                <th>title</th>
                <th>sample text</th>
                <th>image</th></tr>
            {% for marker in markers.itertuples() %}
            <tr>
                <td>
                 <div class="radio">
                     <input type="radio" name='start_marker' value={{ marker['marker_id'] }} id={{ marker['marker_id'] }}/>
                     <label for={{ marker['marker_id'] }}>Choose this</label>
                 </div>
                </td>
                <td><a href="{{ marker['url'] }}">
                        {{ marker['title'] }}
                    </a>
                </td>
                <td>{{ marker['text_clean'][:280] }}...</td>
                <td><img src="{{ marker['img_src'] }}" width=200px /></td>
            </tr>
            {% endfor %}
        </table>

        <div class="form-group">
            <label for="radius">Maximum distance from start (mi)</label>
            <input type="text" id="radius" name="radius" value="1">
        </div>

        <div align="center">
            <button type="submit" class="btn btn-default btn-lg"><b>Get
                    route!</b></button>
        </div>

        </form>

      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-3.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/js/popper.js"></script>
  

</body></html>
